header {
  background-color: #AC2B37;
  height: 150px;
  margin: 0 0 0 0;
  width: 100%;
  overflow: hidden;
  text-align:center;
}

.title
{
    color:White;
    font-size:48px;
    font-family:"minion-pro",serif;
    float:left;
    margin:100px 0 0 0;
}

.textfield
{
    float:right;
    margin:120px 0 0 8;
}

.logo
{
    float:left;
}

.post {
  margin:100px 0 0 200px;
}

.sectionLeft {
  float:left;
  width:49%;
}

.sectionRight {
  float:left;
  width:49%;
}

#container {
  width:100%;
  margin: 0 auto;
}
